/**
 * coolors.co
 * https://coolors.co/palette/03071e-370617-6a040f-9d0208-d00000-dc2f02-e85d04-f48c06-faa307-ffba08
 */

body {
  font-family: "Courier New", Courier, monospace;
  color: #ffba08;
  background-color: #03071e;

  margin-left: 125px;
  margin-right: 125px;
}

nav {
  background-color: #370617;
  text-align: center;
  /* border: 1px solid #ffba08; */
  border: 1px solid #dc2f02;
  padding: 5px;
  /* width: fit-content; */
  /* margin: auto; */
}

header,
footer {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

main {
  margin-left: 100px;
  margin-right: 100px;
}

h1,
h2,
h3 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  line-height: 0px;
}

a {
  text-decoration: none;
  color: #dc2f02;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: #d00000;
}

figure {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  font-style: italic;
}

table {
  margin: auto;
  border: 1px solid #ffba08;
}

th,
td {
  border: 1px solid #ffba08;
  text-align: left;
  padding: 5px;
}

table tr:nth-child(even) {
  background-color: #6a040f;
}

table tr:nth-child(1) {
  background-color: #ffba08;
  color: #03071e;
}

form {
  background-color: #ffba08;
  color: #03071e;
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.label-row {
  display: table-row;
}

label,
input {
  display: table-cell;
}

input[type="reset"],
input[type="submit"] {
  background-color: #03071e;
  color: #ffba08;
  border-radius: 5px;
}

label[for="name"] {
  font-weight: bold;
}

#form1 {
  display: flex;
  flex-direction: column;
  /* color: #03071e;
  background-color: #ffba08; */
  border: 1px #dc2f02 solid;
  padding: 10px;
}

#form1 input[type="submit"] {
  background-color: #ffba08;
  color: #03071e;
}

#fivebuttons {
  display: flex;
  flex-direction: column;
  /* background-color: #ffba08; */
  border: 1px #dc2f02 solid;
  padding: 10px;
}

#fivebuttons button {
  background-color: #ffba08;
}

.calculator {
  border: 2px #dc2f02 solid;
}

.calculator-display {
  padding: 10px;
  text-align: right;
  /* font-weight: bold; */
  font-size: larger;
}

.key-equal {
  grid-area: 2/4/6/5;
}

.button-calculate {
  grid-area: 2/4/5/5;
}

.calculator-buttons,
.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  background: #6a040f;
}

#validation_link_html,
#validation_link_css {
  text-decoration: none;
}

.slideshow-img {
  max-width: 10vw;
  max-width: 10vw;
}

.slideshow-images {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.slideshow-images li {
  display: inline;
}

.slideshow-images li a {
  text-decoration: none;
}

#image-main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 75%;
  max-height: 75%;
  border: 10px solid red;
}
