/**
 * coolors.co
 * https://coolors.co/palette/03071e-370617-6a040f-9d0208-d00000-dc2f02-e85d04-f48c06-faa307-ffba08
 */

@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono");

:root {
  --dark: #03071E;
  --darkred: #370617;
  --midred: #6A040F;
  --darkorange: #D00000;
  --midorange: #DC2F02;
  --light: #FFBA08;
}

body {
  font-family: "Ubuntu Mono", Courier, monospace;
  color: var(--light);
  background-color: var(--dark);

  margin-left: 125px;
  margin-right: 125px;
}

header,
footer {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

main {
  margin-left: 100px;
  margin-right: 100px;
}

h1,
h2,
h3 {
  font-family: "Ubuntu Mono", Courier, monospace;
  text-align: center;
  line-height: 0px;
}

a {
  text-decoration: none;
  color: var(--midorange);
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: var(--darkorange);
}

figure {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  font-style: italic;
}

table {
  margin: auto;
  border: 1px solid var(--light);
}

th,
td {
  border: 1px solid var(--light);
  text-align: left;
  padding: 5px;
}

table tr:nth-child(even) {
  background-color: var(--midred);
}

table tr:nth-child(1) {
  background-color: var(--light);
  color: var(--dark);
}

form {
  background-color: var(--light);
  color: var(--dark);
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.label-row {
  display: table-row;
}

label,
input {
  display: table-cell;
}

input[type="reset"],
input[type="submit"] {
  background-color: var(--dark);
  color: var(--light);
  border-radius: 5px;
}

label[for="name"] {
  font-weight: bold;
}

#form1 {
  display: flex;
  flex-direction: column;
  /* color: var(--dark);
  background-color: var(--light); */
  border: 1px var(--midorange) solid;
  padding: 10px;
}

#form1 input[type="submit"] {
  background-color: var(--light);
  color: var(--dark);
}

#fivebuttons {
  display: flex;
  flex-direction: column;
  /* background-color: var(--light); */
  border: 1px var(--midorange) solid;
  padding: 10px;
}

#fivebuttons button {
  background-color: var(--light);
}

.calculator {
  border: 2px var(--midorange) solid;
}

.calculator-display {
  padding: 10px;
  text-align: right;
  /* font-weight: bold; */
  font-size: larger;
}

.key-equal {
  grid-area: 2/4/6/5;
}

.button-calculate {
  grid-area: 2/4/5/5;
}

.calculator-buttons,
.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  background: var(--midred);
}

#validation_link_html,
#validation_link_css {
  text-decoration: none;
}

.slideshow-img {
  max-width: 10vw;
  max-width: 10vw;
}

.slideshow-images {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.slideshow-images li {
  display: inline;
}

.slideshow-images li a {
  text-decoration: none;
}

#image-main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 75%;
  max-height: 75%;
  /* border: 10px solid red; */
}

nav {
  background-color: var(--darkred);
  text-align: center;
  /* border: 1px solid var(--light); */
  border: 2px solid var(--midorange);
  padding: 5px;
  /* width: fit-content; */
  /* margin: auto; */
}

/* NAVBAR STYLING START*/
.navbar {
  overflow: hidden;
  border: 2px solid var(--midorange);
  display: flex;
  align-content: center;
  justify-content: center;
  font-weight: bold;
  
  /* opacity: 0.8; */
  background-image: radial-gradient(
    var(--midorange) 0.9500000000000001px,
    var(--darkred) 0.9500000000000001px
    );
    background-size: 8px 8px;
  }
  
  .navbar > * {
  background-color: var(--darkred);
  border-right: 1px solid var(--midorange);
  min-width: 100px;
  /* width: 100px; */
  /* outline-offset: 0px; */
}

.navbar > *:nth-child(1) {
  border-left: 1px solid var(--midorange);
}

.navbar a {
  float: left;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropdown-button {
  border: none;
  outline: none;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  margin: 0;
  padding: 10px;
}

.navbar a:hover,
.dropdown:hover .dropdown-button {
  background-color: var(--midorange);
  color: var(--dark);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--darkred);
  border: 2px solid var(--midorange);
}

.dropdown-content a {
  float: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* NAVBAR STYLING END*/

.ascii {
  text-align: center;
}

.site-screenshot {
  width: 100%;
  border: 2px solid var(--darkorange);
}

li {
  padding: 5px;
}

.highlight {
  background-color: var(--darkred);
}