/** 
https://coolors.co/palette/5603ad-8367c7-b3e9c7-c2f8cb-f0fff1 
*/

@import url("https://fonts.googleapis.com/css?family=Hubballi");

:root {
  --purpledark: #5603ad;
  --purplelight: #8367c7;
  --greendark: #b3e9c7;
  --greenlight: #c2f8cb;
  /* --greenlight: #f0fff1; */
}

body {
  font-family: "Hubballi", serif;
  color: var(--purpledark);
  background-color: var(--greenlight);
  font-size: larger;
  /* font-weight: 600; */
  margin-left: 125px;
  margin-right: 125px;
}

header,
footer {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

h1,
h2,
h3 {
  text-align: center;
}

main a {
  text-decoration: none;
  color: var(--purpledark);
  font-weight: 900;
}

main a:hover {
  text-decoration: underline;
}

.timeline {
  text-align: center;
}

.input-year {
  background-color: var(--purplelight);
  border: 2px solid var(--purpledark);
  border-radius: 50%;
  color: var(--greenlight);
  display: inline-block;
  font-weight: bold;
  height: 50px;
  width: 50px;
  line-height: 50px;
  margin: 5px;
}

.input-year.active,
.input-year:hover {
  background-color: var(--purpledark);
}

#container-description ul {
  display: none;
}

#container-description ul.active {
  display: block;
  margin-top: 0px;
  padding-right: 30px;
  border: 2px solid var(--purpledark);
}

#container-description ul.active li {
  padding-top: 10px;
  padding-bottom: 10px;
}

#content {
  display: flex;
  width: 100%;
}

#content-child {
  flex: 1;
  text-align: right;
  margin: 10px;
}

#content-child:first-child {
  display: flex;
  justify-content: flex-end;
}

#content-child:nth-child(2) {
  display: flex;
  flex: 1;
  text-align: left;
}

#content-home {
  display: flex;
  width: 100%;
}

.content-home-child {
  flex: 1;
  margin: 10px;
  padding: 10px;
  border: 2px groove var(--purpledark);
  /* border-radius: 1%; */
}

#content-home img {
  max-width: 100%;
  max-height: 100%;
  border: 5px groove var(--purpledark);
  /* border-radius: 1%; */
}

figcaption {
  font-style: italic;
  text-align: center;
}

td,
th {
  border: 5px solid var(--greendark);
  text-align: left;
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
}

th {
  font-weight: bold;
  background-color: var(--greendark);
}

table img {
  max-width: 100%;
  max-height: 100%;
}

.navbar {
  overflow: hidden;
  border: 2px solid var(--purpledark);
  display: flex;
  align-content: center;
  justify-content: center;
  font-weight: bold;

  background-size: 15px 15px;
  background-image: repeating-linear-gradient(
    45deg,
    var(--purpledark) 0,
    var(--purpledark) 1.3px,
    var(--greendark) 0,
    var(--greendark) 50%
  );
}

.navbar > * {
  background-color: var(--greendark);
  border-right: 1px solid var(--purpledark);
  min-width: 100px;
  /* width: 100px; */
  /* outline-offset: 0px; */
}

.navbar > *:nth-child(1) {
  border-left: 1px solid var(--purpledark);
}

.navbar a {
  float: left;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
}

.navbar a:hover {
  background-color: var(--purpledark);
  color: var(--greenlight);
}

.navbar-foot a {
  width: 130px;
}

.fotorama {
  background-color: var(--purplelight);
  border: 2px solid var(--purpledark);
}

.ui-accordion-header,
.ui-accordion-header-active {
  background-color: var(--greenlight);
  border-color: var(--purpledark);
  color: var(--purpledark);
}

.ui-accordion-header-active {
  font-weight: bold;
}

.ui-accordion-content,
.ui-accordion-content-active {
  background-color: var(--greendark);
  color: var(--purpledark);
}

/* main * {
  border: 1px dotted red;
  outline-offset: 10px;
} */
