/** 
https://coolors.co/palette/5603ad-8367c7-b3e9c7-c2f8cb-f0fff1 
*/

@import url("https://fonts.googleapis.com/css?family=Hubballi");

:root {
  --purpledark: #5603ad;
  --purplelight: #8367c7;
  --greendark: #b3e9c7;
  --greenlight: #c2f8cb;
  /* --greenlight: #f0fff1; */
}

body {
  font-family: "Hubballi", serif;
  color: var(--purpledark);
  background-color: var(--greenlight);

  margin-left: 125px;
  margin-right: 125px;
}

nav {
  background-color: var(--greendark);
  text-align: center;
  border: 1px solid var(--purplelight);
  padding: 5px;
}

header,
footer {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

h1,
h2,
h3 {
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--purpledark);
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.timeline {
  text-align: center;
}

.input-year {
  background-color: var(--purplelight);
  border: 2px solid var(--purpledark);
  border-radius: 50%;
  color: var(--greenlight);
  display: inline-block;
  font-weight: bold;
  height: 50px;
  width: 50px;
  line-height: 50px;
  margin: 5px;
}

.input-year.active,
.input-year:hover {
  background-color: var(--purpledark);
}

#container-description ul {
  display: none;
}

#container-description ul.active {
  display: block;
  float: right;
}

#slideshow {
  margin: auto;
}

#slideshow-images {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#slideshow-images li {
  display: inline;
}

.slideshow-image {
  max-width: 100px;
  max-height: 100px;
  border: 2px groove var(--purpledark);
}

#content {
  display: flex;
  width: 100%;
}

#content-child {
  flex: 1;
  text-align: right;
  margin: 10px;
}

#content-child:nth-child(2) {
  display: flex;
  flex: 1;
  text-align: left;
  flex-shrink: 0;
}

#slideshow-image-main {
  max-width: 600px;
  max-height: 600px;
  /* max-width: 100%;
  max-height: 100%; */
  border: 5px groove var(--purpledark);
  border-radius: 1%;
}

#content-home {
  display: flex;
  width: 100%;
}

.content-home-child {
  flex: 1;
  margin: 10px;
  padding: 10px;
  border: 2px groove var(--purpledark);
  border-radius: 1%;
}

#content-home img {
  max-width: 100%;
  max-height: 100%;
  border: 5px groove var(--purpledark);
  border-radius: 1%;
}

figcaption {
  font-style: italic;
  text-align: center;
}

td,
th {
  border: 5px solid var(--greendark);
  text-align: left;
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
}

th {
  font-weight: bold;
  background-color: var(--greendark);
}

table img {
  max-width: 100%;
  max-height: 100%;
}

main * {
  /* border: 1px dotted red; */
  outline-offset: 10px;
}
