<header>
  <h1>Logan Feid &loz; ITIS3135 &loz; Lemon Fish</h1>
  <nav>
    <a href="index.html">Home</a>
    &diams;
    <a href="introduction.html">Introduction</a>
    &diams;
    <a href="contract.html">Contract</a>
    &diams;
    <a href="tables.html">Tables</a>
    &diams;
    <a href="forms.html">Forms</a>
    &diams;
    <a href="feidfunctions.com/">Brand</a>
    &diams;
    <a href="stuff/wEB  siTE 🥝.htm">Crappy&nbsp;Website</a>
    &diams;
    <a href="website_evaluations.html">Website&nbsp;Evaluations</a>
    &diams;
    <a href="firstscripts.html">First&nbsp;Scripts</a>
    &diams;
    <a href="name-the-polygon.html">Name&nbsp;the&nbsp;Polygon</a>
    &diams;
    <a href="calculator_try.html">Calculator&nbsp;Try</a>
    &diams;
    <a href="calculator_fcc.html">FCC&nbsp;Calculator</a>
    &diams;
    <a href="accessibility/Feid-Activity_Accessibility.html">Accessibility&nbsp;Exercise</a>
  </nav>
</header>
