<header>
  <h1>Logan Feid &loz; ITIS3135 &loz; Lemon Fish</h1>
  <nav>
    <a href="index.html">Home</a>
    &diams;
    <a href="introduction.html">Introduction</a>
    &diams;
    <a href="contract.html">Contract</a>
    &diams;
    <a href="tables.html">Tables</a>
    &diams;
    <a href="forms.html">Forms</a>
    &diams;
    <a href="feidfunctions.com/">Brand</a>
    &diams;
    <a href="stuff/wEB  siTE 🥝.htm">Crappy Website</a>
    &diams;
    <a href="website_evaluations.html">Website Evaluations</a>
    &diams;
    <a href="firstscripts.html">First Scripts</a>
  </nav>
</header>
