<div class="navbar">
  <a href="index.html">Home</a>

  <div class="dropdown">
    <div class="dropdown-button">Week&nbsp;1-3</div>
    <div class="dropdown-content">
      <a href="introduction.html">Introduction</a>
      <a href="contract.html">Contract</a>
      <a href="tables.html">Tables</a>
      <a href="forms.html">Forms</a>
      <a href="feidfunctions.com/">Brand</a>
      <a href="stuff/wEB  siTE 🥝.htm">Crappy&nbsp;Website</a>
      <a href="website_evaluations.html">Website&nbsp;Evaluations</a>
    </div>
  </div>

  <div class="dropdown">
    <div class="dropdown-button">Week&nbsp;4-6</div>
    <div class="dropdown-content">
      <a href="firstscripts.html">First&nbsp;Scripts</a>
      <a href="name-the-polygon.html">Name&nbsp;the&nbsp;Polygon</a>
      <a href="calculator_try.html">Calculator&nbsp;Try</a>
      <a href="calculator_fcc.html">FCC&nbsp;Calculator</a>
    </div>
  </div>

  <div class="dropdown">
    <div class="dropdown-button">Week&nbsp;7-9</div>
    <div class="dropdown-content">
      <a href="accessibility/Feid-Activity_Accessibility.html">
        Activity - Accessibility
      </a>
      <a href="arrays.html">Arrays</a>
      <a href="slideshow.html">Activity 9 - Slideshow</a>
      <a href="hobby/index.html">Midterm Hobby</a>
    </div>
  </div>

  <div class="dropdown">
    <div class="dropdown-button">Week&nbsp;10-12</div>
    <div class="dropdown-content">
      <!-- <a href="activity-10.html">Activity 10 - Image Swap</a>
      <a href="activity-11.html">Activity 11 - Accordion Widget</a>
      <a href="activity-12.html">Activity 12 - Carousel App</a>
      <a href="activity-13.html">Activity 13 - Convert an Ajax Application</a>
      <a href="activity-14.html">Activity 14 - Load Speaker Data From JSON</a> -->

      <a href="Feid-Activity10/Feid-Activity10.html"
        >Activity 10 - Image Swap</a
      >
      <a href="Feid-Activity11/Feid-Activity11.html"
        >Activity 11 - Accordion Widget</a
      >
      <a href="Feid-Activity12/Feid-Activity12.html"
        >Activity 12 - Carousel App</a
      >
      <a href="Feid-Activity13/Feid-Activity13.html"
        >Activity 13 - Convert an Ajax Application</a
      >
      <a href="Feid-Activity14/Feid-Activity14.html"
        >Activity 14 - Load Speaker Data From JSON</a
      >
    </div>
  </div>

  <div class="dropdown">
    <div class="dropdown-button">Week&nbsp;13-15</div>
    <div class="dropdown-content">
      <a href="Feid-Activity15/Feid-Activity15.html"
        >Activity 15 - Enhance AJAX Application</a
      >
    </div>
  </div>

  <div class="dropdown">
    <div class="dropdown-button">Final Project</div>
    <div class="dropdown-content">
      <a href="project_design.html">Project&nbsp;Design</a>
      <a href="project/index.html">Project</a>
    </div>
  </div>

  <div class="dropdown">
    <div class="dropdown-button">Peer Review</div>
    <div class="dropdown-content">
      <a href="peer-review-1.html">Peer Review 1: Austin McCarter</a>
      <a href="peer-review-2.html">Peer Review 2: Kenny Nguyen</a>
    </div>
  </div>
</div>
